<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title><%= title_page %></title>
		<link rel="stylesheet" href="public/css/main.css">
	</head>
	<body>
    	<a href="/">Inicio</a>
		
		<!-- Script -->
	</body>
</html>