<!DOCTYPE html>
<html ng-app="system">
	<head>
		<meta charset="UTF-8">
		<title><%= title_page %></title>

		<!-- Style Sheets -->
		<link rel="stylesheet" href="public/css/materialize.min.css">
		<link rel="stylesheet" href="public/css/main.css">
		
		<!-- Angular and Libraries JavaScript -->
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="public/js/materialize.min.js" ></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	</head>
	<body class="register">
		<div class="content_login">
			<div ng-include="'public/includes/register.html'" ng-controller="RegisterController"></div>
    		<a href="/" class="waves-effect waves-teal btn-flat">Inicio</a>
		</div>
		
		<!-- Scripts -->
		<script type="text/javascript" src="public/js/actions.js" ></script>
		<script type="text/javascript" src="public/js/controllers/main.js" ></script>
	</body>
</html>